@model Teamify.Models.ActivityModel

<div class="modal fade" id="create-activity-modal" tabindex="-1" role="dialog" aria-labelledby="CreateActivity" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Activity</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <form class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control", id = "date" } })
                                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ExpireDate, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.ExpireDate, new { htmlAttributes = new { @class = "form-control", id = "expireDate" } })
                                        @Html.ValidationMessageFor(model => model.ExpireDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.MinPlayers, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MinPlayers, new { htmlAttributes = new { @class = "form-control", id = "minPlayers" } })
                                        @Html.ValidationMessageFor(model => model.MinPlayers, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.MaxPlayers, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MaxPlayers, new { htmlAttributes = new { @class = "form-control", id = "maxPlayers" } })
                                        @Html.ValidationMessageFor(model => model.MaxPlayers, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.MinPlayersRating, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.MinPlayersRating, new { htmlAttributes = new { @class = "form-control", id = "minPlayersRating" } })
                                        @Html.ValidationMessageFor(model => model.MinPlayersRating, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "form-control-label col-md-3" })
                                    <div class="col-md-9">
                                        @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", id = "description" } })
                                        @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <div class="col-md-offset-2 col-md-10">
                                    <input type="submit" value="Create" class="btn btn-success" />
                                </div>
                            </div>*@
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="create-activity-button">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<script src="~/Scripts/createActivityModal.js"></script>